<div class="wrapper">
    <!-- Header menu -->
    <app-header></app-header>

    <!-- sidebar menu -->
    <app-sidebar></app-sidebar>
    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Breadcrumb start -->
        <section class="content-header">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-6">
                  <h3>Change Password</h3>
                </div>
                <div class="col-sm-6 d-none d-sm-block">
                  <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active">Change Password</li>
                  </ol>
                </div>
              </div>
            </div>
          </section> 
          <!-- Breadcrumb ends -->

          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                          <h3 class="card-title">Change Password Form</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
                          <div class="card-body">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" formControlName="username" hidden>
                                    <label for="oldPassword">Old Password</label>
                                    <input type="password" class="form-control" formControlName="oldPassword" 
                                    id="oldPassword" [ngClass]="{'is-invalid': submitted && getter.oldPassword.errors}">
                                  <div *ngIf="submitted && getter.oldPassword.errors" class="invalid-feedback">
                                      <div *ngIf="getter.oldPassword.errors.required">Please enter your old password</div>
                                  </div>
                                </div>
                                <div class="form-group col-md-6">
                                  
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="username">Password</label>
                                    <input type="password" class="form-control" formControlName="password" 
                                    id="password1" [ngClass]="{'is-invalid': submitted && getter.password.errors}">
                                    <div *ngIf="submitted && getter.password.errors" class="invalid-feedback">
                                        <div *ngIf="getter.password.errors.required">Password is required</div>
                                        <div *ngIf="getter.password.errors.minlength">Password must be at least 8 characters</div>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-6">
                                    <label for="password">Re-enter to confirm</label>
                                    <input type="password" class="form-control" formControlName="confirmpassword" [ngClass]="{'is-invalid': submitted && getter.confirmpassword.errors}">
                                    <div *ngIf="submitted && getter.confirmpassword.errors" class="invalid-feedback">
                                        <div *ngIf="getter.confirmpassword.errors.required">ConfirmPassword is required</div>
                                        <div *ngIf="getter.confirmpassword.errors.mustMatch">Passwords must match</div>
                                        <div class="text-danger" *ngIf="errorMessage">{{errorMessage}}</div>
                                      </div>
                                </div>
                                <p>{{errorMessage}}</p>
                            </div>
                          </div>
                          <!-- /.card-body -->
                          <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </div>
                        </form>
                      </div>
                  </div>
              </div>
          </div>
        <router-outlet></router-outlet>
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->

    <!-- Main Footer -->
    <app-footer></app-footer>
</div>